@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.table {
  border-collapse: collapse;
  width: 100%;
  font-size: 1.2rem; 
  td,th {
    text-align: left;
    &:first-child, &:last-child {
      text-align: right;
    }

    &:first-child {
      padding-left: 2.6rem;
    }

    &:last-child {
      padding-right: 5.6rem;
    }

    @include respond(xs) { // width < 900?
      &:nth-child(4), &:nth-child(5), &:nth-child(6) {
        display: none;
        visibility: hidden;
      }
    }
  }

  th {
    padding:  2rem 2.5rem 2rem 2.5rem;
    border-bottom: 1px solid rgba(89, 103, 125, 0.1);
  }

  td {
    padding: 1.1rem 2.5rem;
    &:first-child {
      font-weight: bold;
    }
  }

  &__row {
    &:hover {
      cursor: pointer;
      color: $color-blue;
    }
  }
}