/* colors */
$color-blue: #0066ff;
$color-grey: #59677D;
$color-grey-light-1: #F7F7FA;
$color-grey-light-2: #C8CFD8;
$color-grey-light-3: #E5E5E5;
$color-black: #000000;
$color-white: #ffffff;

/* Font */
$default-font-size: 1.6rem;